#homePagePhoto {
	height: 100%;
	width: 100%;
}

/* .fixed-nav {
	position: fixed;
} */

.bold {
	font-weight: bold;
}

.hideContent {
	display: none;
}

.cardWidth {
	width: 250px;
	margin: 15px;
}

/* .cardImage {
	max-height: 258px;
} */

.card-align {
	float: left;
}

.topMargin {
	margin-top: 30px;
}


